# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Daten und Uploads
/data/
/data/manuals/
/data/devices/

# Temporäre Dateien
*.tmp
*.bak
*.swp
*~

# Umgebungsvariablen
.env

# IDE-Spezifische Dateien
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System-Dateien
.DS_Store
Thumbs.db
